body {
  margin: 0;
  background-color: #16161b;
}

.wht-screen {
  z-index: 1000000;
  height: 100dvh;
  width: 100dvw;
  background-color: #fff;
  opacity: 1;
  position: fixed;
  pointer-events: none;
  transition: all 1s ease;
}

section {
  --width: 70px;

  min-height: 100dvh;
  display: grid;
  grid-template-columns: var(--width) 1fr;
  transition: all 0.3s ease;
}

.menu {
  position: relative;
  left: 0;
  display: flex;
  gap: 0px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hide {
  overflow: hidden;
  width: 0;
  transition: all 0.3s ease;
}

.hide p {
  text-wrap: nowrap;
  width: fit-content;
  transition: all 0.3s ease;
}

.preview-container {
  z-index: 2;
  position: fixed;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: none;
}
.preview-container * {
  pointer-events: all;
}
.preview-transition {
  --height: 200px;
  background-color: #fff;
  height: var(--height);
  width: var(--height);
  border-radius: 1000px;
  position: relative;
  top: calc(var(--height) * -1 + 30px);
  display: flex;
  justify-content: center;
  transition: height 1.5s ease, width 1.5s ease, top 0.8s ease;
  overflow: hidden;
}
.preview-wrapper {
  height: 100dvh;
  width: 100%;
  position: sticky;
  top: 50vh;
  pointer-events: none;
  overflow: hidden;
}
.preview {
  position: absolute;
  height: calc(100dvh - 115.5px - 4px);
  bottom: 100dvh;
  width: 100%;
  border-top: 1px solid #515161;
  border-bottom: 1px solid #515161;
  transition: bottom 1s ease;
  transition-delay: 0.2s;
}
.preview > iframe {
  border: none;
  height: calc(100% - 4px);
  width: 100%;
}
.preview-btn {
  cursor: pointer;
  color: #16161b;
  position: absolute;
  top: 5px;
  display: flex;
  transition: all 1s ease;
}

.acc-container {
  position: absolute !important;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 50%;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  gap: 40px;
  transition: all 1s ease;
}
#formContainer {
  position: relative;
  right: 0;
}
.form {
  min-width: 300px;
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  transition: all 0.3s ease;
  padding-block: 50px;
  margin-top: 0 !important;
}
.form > div:nth-child(3) {
  margin-top: 10px;
}
.form input, .form textarea {
  font-size: 14px;
}
.form div button {
  cursor: pointer;
  font-size: 14px;
  background-color: transparent;
  border: 1px solid #515161;
  border-radius: 3px;
  padding-block: 3px;
  color: white;
  transition: all 0.3s ease;
}
.form div button #openLink {
  color: white;
}
.form div button:hover {
  background-color: white;
  color: #16161b;
}
.form div button:hover #openLink {
  color: #16161b;
}
.form > input {
  padding-bottom: 5px;
}
.form > label {
  width: fit-content;
  margin-top: 8px;
  font-size: 30px;
  color: white;
  background-color: transparent;
  border: none;
  font-weight: bold;
  transition: all 0.3s cubic-bezier(1, -0.5, 0.1, 1.5);
  margin-bottom: -45px;
  pointer-events: none;
  user-select: none;
}
.form > label .counter {
  color: white;
  font-size: 12px;
}
.form > input, .form > textarea {
  height: auto;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  transition: all 0.3s ease;
  margin-top: 20px;
}
.form input:focus, .form textarea:focus {
  outline: none;
}
.form textarea {
  width: 100%;
  padding: 0;
  padding-block: 3px;
  resize: none;
}
.form .label2 {
  margin-top: 30px;
  margin-bottom: -55px;
}
.form #title:focus ~ .label1 {
  letter-spacing: 5px;
  margin-bottom: 0;
  font-size: 36px;
}
.form #title:focus ~ .label1 .counter {
  letter-spacing: 1px;
}
.form #title:placeholder-shown ~ .label1 {
  color: white;
}
.form #title:not(:placeholder-shown) ~ .label1 {
  color: lime;
  margin-bottom: 0;
  font-size: 36px;
}
.form #description:focus ~ .label2 {
  letter-spacing: 5px;
  margin-bottom: 0;
  font-size: 36px;
}
.form #description:focus ~ .label2 .counter {
  letter-spacing: 1px;
}
.form #description:placeholder-shown ~ .label2 {
  color: white;
}
.form #description:not(:placeholder-shown) ~ .label2 {
  color: lime;
  margin-bottom: 0;
  font-size: 36px;
}

.link {
  width: 100%;
  display: flex;
  gap: 5px;
}
.link > * {
  flex: 1;
  margin-top: 5px !important;
}
.link #open a {
  margin: 0 !important;
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}
.link #edit {
  display: none;
}

.picture-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.picture-preview {
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  padding-bottom: 5px;
  transition: height 0.5s ease, paddingBottom 0.3s ease;
}
.picture-container {
  width: fit-content;
  display: flex;
  gap: 10px;
  backdrop-filter: blur(0px);
}
.picture-container > * {
  height: 100px;
  width: 100px;
  position: relative;
  border-radius: 10px;
  border: 2px solid white;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease;
}

.picture {
  pointer-events: none;
}

.picture:hover .delete-picture {
  opacity: 1;
}
.delete-picture {
  position: absolute;
  top: 5px;
  right: 5px;
  opacity: 0;
  height: 20px;
  width: 20px;
  background-color: red;
  border-radius: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.delete-picture img {
  pointer-events: none;
}

.picture > .picture-content > img {
  width: inherit;
  pointer-events: none;
}

.picture-nav {
  display: none;
}
.picture-back {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 18px;
  cursor: pointer;
  pointer-events: all;
}
.picture-content {
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  pointer-events: all;
}
.picture-comment {
  display: none;
}
.picture-nav, .picture-comment {
  align-items: center;
  padding-inline: 50px;
}

.picture-comment {
  align-items: unset;
  justify-content: center;
  flex-direction: column-reverse;
}
.picture-comment > input {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid white;
  pointer-events: all;
}
.picture-comment > input:focus ~ label, .picture-comment > input:not(:placeholder-shown) ~ label {
  margin-bottom: 10px;
  font-size: 18px;
}

.picture-comment > label {
  margin-bottom: -18px;
  transition: all 0.3s cubic-bezier(1, -0.5, 0.1, 1.5);
}

.picture-upload {
  display: flex;
  justify-content: flex-end;
}
.picture-upload img {
  cursor: pointer;
}

.picture-arrow {
  height: 100dvh;
  width: 100dvw;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  z-index: 21;
  transition: opacity 2s ease;
}
.picture-arrow > * {
  position: absolute;
  height: 100dvh;
  width: fit-content;
  padding-inline: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  pointer-events: none;
}
.picture-arrow > * > * {
  height: 25px;
}
.arrowr {
  /* opacity: 0; */
  right: 0;
}
.arrowl {
  /* opacity: 0; */
  left: 0;
}