* {
  font-family: monospace;
  color: white;
}
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
*::-webkit-scrollbar-track {
  margin: 10px;
  background-color: #353541;
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(212, 30, 30);
}
*::-webkit-scrollbar-track:horizontal, *::-webkit-scrollbar-thumb:horizontal {
  border-radius: 1000px 1000px 0 0;
}
*::-webkit-scrollbar-track:vertical, *::-webkit-scrollbar-thumb:vertical {
  border-radius: 1000px 0 0 1000px;
}

body {
  margin: 0;
  background-color: #16161b;
}

section {
  --width: 70px;

  min-height: 100dvh;
  display: grid;
  grid-template-columns: var(--width) 1fr;
  transition: all 0.3s ease;
}

.acc-container {
  height: 80px;
  width: 100% !important;
  display: flex;
  justify-content: end !important;
}
#signin {
  background-color: transparent;
  border: 2px solid #515161;
  border-radius: 5px;
  padding: 3px 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}
#signin:hover {
  background-color: #fff;
  border-color: white;
  color: #16161b;
}

.main {
  height: 100dvh;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  overflow-y: auto;
  width: 100%;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  gap: 40px;
  transition: all 1s ease;
}

.sec-section {
  width: 100dvw;
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 0;
  top: 0;
  z-index: 12;
  pointer-events: none;
  transition: all 0.3s ease;
}

@media screen and (max-width: 540px) {
  section {
    grid-template-columns: none !important;
    grid-template-rows: 1fr 60px;
  }

  .main {
    order: 1;
    height: unset;
  }
  .dummy {
    order: 2;
  }

  .container {
    min-height: calc(100dvh - 60px);
  }

  .sec-section {
    grid-template-columns: 100dvw 1fr;
  }
}