#createForum {
  position: fixed;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}
#createForum > * {
  position: absolute;
}
#createForum .background {
  box-shadow: inset 0 0 300px 0px #565656;
  height: 100%;
  width: 100%;
}
#createForum .panel {
  border-left: 1px solid rgb(212, 30, 30);
  border-right: 1px solid rgb(212, 30, 30);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  max-width: 600px;
  align-items: center;
  justify-content: center;
  background-color: #16161b;
  height: calc(100vh - 80px);
  width: calc(100vw - 80px);
  position: relative;
}

.panel form {
  width: calc(100% - 100px);
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#closePanel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  top: 20px;
  right: 20px;
  background-color: rgb(212, 30, 30);
  border: 1px solid rgb(212, 30, 30);
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}
#closePanel:hover {
  background-color: rgb(212, 79, 79);
}
#closePanel:active {
  background-color: transparent;
  border-color: white;
}